@use "../../abstracts/" as *;

.feature {
  display: flex;
  width: var(--width-lage-value);
  padding: 4rem 0rem;
  align-items: flex-start;
  gap: 4.375rem;
  margin: 0rem 0rem 0rem 8rem;

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    flex: 1 0 0;

    &_header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      align-self: stretch;
      &_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        align-self: stretch;

        &_h5 {
          color: var(--Secondary, #f85e9f);
          font-family: "Circular Std";
          font-size: 1.4375rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 1.725rem */
          letter-spacing: 0.2875rem;
          text-transform: uppercase;
          align-self: stretch;
        }
        &_h3 {
          color: var(--Grey-Scale-Black, #191825);
          /* H3 */
          font-family: "Circular Std";
          font-size: 2.75rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }

      &_decr {
        color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.5));
        /* Body */
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
    }

    &_card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      &_element {
        display: flex;
        padding: 2rem;
      }
    }
    .feature_element {
      display: flex;
      padding: 2rem;
      align-items: center;
      gap: 2rem;
      align-self: stretch;
      border-radius: 2rem;
      background: var(--white, #fff);
      
      .border{
        border-radius: 2rem;
        background: var(--white, #FFF);
      }
      &_content {
        h6 {
          color: var(--Grey-Scale-Black, #191825);

          /* H6 */
          font-family: "Circular Std";
          font-size: 1.4375rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 1.725rem */
        }
        p {
          color: var(--Grey-Scale-Black-50, rgba(25, 24, 37, 0.5));
          /* Body */
          font-family: Inter;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }
      }
      img {
        width: 6.25rem;
        height: 6.25rem;
      }
    }
  }
  &_image {
    width: 43.3125rem;
    height: 54.3125rem;
    flex-shrink: 0;
  }
}

@include tablet {
  .feature {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin: 0 4rem;

    &_image {
      order: 1;
      width: 100%;
      height: 100%;
    }
    &_content {
      order: 2;
      width: 100%;

      &_header {
        text-align: center;

        &_text {
          align-items: center;
        }

        &_decr {
          margin: 0 3rem;
        }
      }
    }
  }
}

@include mobile{
  .feature{
     margin: 0 1rem;

    &_content{
      .feature_card{
        &_element{
          .feature_element  {
            display: flex;
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            align-self: stretch;
            width: 100%;
          }
        }
      }
    }
  }
   
}
