@use "../../abstracts/" as *;

.services {
  display: flex;
  width:var( --witdh-big-value);
  padding: 4rem 0rem;
  align-items: center;
  margin-left: 8rem;
  margin: auto;
  &_text {
    width: 27.8rem;
    h3{
      color: var(--Grey-Scale-Black, #191825);
    }

    h4 {
      align-self: stretch;
      color: var(--Secondary, #f85e9f);
      font-family: "Circular Std";
      font-size: 1.4375rem;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 1.725rem */
      letter-spacing: 0.2875rem;
      text-transform: uppercase;
    }
  }
  .card_group {
    display: flex;
    width: 68.25rem;
    align-items: flex-start;
    gap: 1.3125rem;
    flex-shrink: 0;

    .card2 {

      display: flex;
      height: 27.6875rem;
      padding: 4rem;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      flex: 1 0 0;
      border-radius: 2rem;
      border: 1px solid rgba(25, 24, 37, 0.1);
      background: #fff;
    }
    .card1 {
      display: flex;
      height: 27.6875rem;
      padding: 4rem;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      flex: 1 0 0;
      border-radius: 2rem;
      background: #fff;
      box-shadow: 0px 41px 89px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
@include tablet{

 .services{
  display: flex;
  width: 56rem;
  padding: 4rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  margin: auto;


   &_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    margin: auto;
    width: 100%;

    .title{
      width: 100%;
      text-align: center;
    }
   }

   .card_group{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    width:calc(var(--witdh-big-value)/2) ;
    margin: 0 4rem;
    text-align: center;
    
   }
 }
}
@include mobile{
  .services{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 24.875rem;
    padding: 2rem 0;
    display: flex;
    text-align: center;
    width: 24.875rem;
    margin: 0 auto;

    &_text{ 
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      align-self: stretch;

    
    }
    .card_group{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
      width: 24.875rem;
      margin: 0 auto;


      .card1{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: stretch;
      }
      .card2{
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: stretch;
      }
    }
    
     
  }
  
}
@include mobile{
   .destination{
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: auto;

    &_header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &_right{
        display: flex;
        justify-content: space-between;

        .btn_left{
            margin-right: -5rem;
        }
        .btn_right{
            margin-left: -5rem;
        }
      }
    }
    &_card_group{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin:  auto;

      .card{
        display: flex;
        height: 35.9375rem;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0;
        gap: 2rem;
        width: 24.875rem;
        padding: 2rem;
        border-radius: 2rem;
      }
    }
   }
}