<section class="colabration">

    <div class="colabration_item1">
        <img src="assets/icons/group.svg" alt="group" class="group">
        <img src="assets/icons/group2.svg" alt="group" class="group2">
        <img src="assets/icons/group(1).svg" alt="group" class="group1">
    </div>
    <div class="colabration_item2">
        <img src="assets/icons/group9235.svg" alt="group9235" class="group9235">
        <img src="assets/icons/group3.svg" alt="group3" class="group3">
    </div>

</section>