<section class="colabration">

    <div class="colabration_item1">
        <img src="assets/icons/group.svg" alt="tripadvisor" class="group">
        <img src="assets/icons/group2.svg" alt="expira" class="group2">
        <img src="assets/icons/group(1).svg" alt="booking" class="group1">
    </div>
    <div class="colabration_item2">
        <img src="assets/icons/group9235.svg" alt="airbnb" class="group9235">
        <img src="assets/icons/group3.svg" alt="orbitz" class="group3">
    </div>

</section>