<section class="feature">
    <div class="feature_content">
        <div class="feature_content_header">
            <div class="feature_content_header_text">
                <h5 class="feature_content_header_text_h5">
                    Key features
                </h5>
                <h3 class="feature_content_header_text_h3">
                    We offer best services
                </h3> 
            </div>
            <div class="feature_content_header_decr">
                <h6>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC.
                </h6> 
            </div>
        </div>
        <div class="feature_card">
            <div class="feature_card_element">
                <div class="feature_element ">
                    <img src="assets/icons/group9239.svg" alt="place" class="feature_element_image">
                    <div class="feature_element_content">
                        <h6>We offer best services</h6>
                        <p>Lorem Ipsum is not simply random text</p>
                    </div>  
                </div>   
                <div class="feature_element border">
                    <img src="assets/icons/group9239(1).svg" alt="schedule" class="feature_element_image">
                    <div class="feature_element_content">
                        <h6>Schedule your trip</h6>
                        <p>It has roots in a piece of classical</p>
                    </div>   
                </div>
                <div class="feature_element ">
                    <img src="assets/icons/group9239(2).svg" alt="ticket" class="feature_element_image">
                    <div class="feature_element_content">
                        <h6>Get discounted coupons</h6>
                        <p>Lorem Ipsum is not simply random text</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <img src="assets/images/desktop/background.png" alt="background" class="feature_image">
</section> 