<section class="services">
    <div class="services_text"> 
        <h4 class="title">Services</h4>
        <h3 class="decr">Our top value categories for you</h3>
    </div>    


    <div class="card_group">
        <div class="card2">
            <img alt="Icon representing Best Tour Guide" src="assets/icons/destination1.svg" alt="destination1" />
            <h5>Best Tour Guide</h5>
            <p>What looked like a small patch of purple grass, above five feet.</p>

        </div>
        <div class="card1">
            <img alt="Icon representing Best Tour Guide" src="assets/icons/booking1.svg" alt="booking1" />
            <h5>Easy Booking</h5>
            <p>Square, was moving across the sand in their direction.</p>
        </div>

        <div class="card2">
            <img alt="Icon representing Best Tour Guide" src="assets/icons/cloudy1.svg" alt="cloudy1" />
            <h5>Weather Forecast</h5>
            <p>What looked like a small patch of purple grass, above five feet.</p>
        </div>
    </div>

</section>  