<section class="subcribe"> 
    <div class="subcribe_content"> 
         <div class="subcribe_content_header">
            <h6 class="subcribe_content_header_name">subscribe to our newsletter
            </h6>
            <h2 class="subcribe_content_header_decr">
                Prepare yourself & let’s explore the beauty of the world
            </h2>
         </div>    
         <div class="subcribe_content_bot">
             <div class="subcribe_content_bot_input">   
                 <figure>  
                    <img src="assets/icons/message1.svg" alt="message">
                 </figure>
                 <h6 class="subcribe_content_bot_input_text">Your Email</h6>
             </div>
             <div class="subcribe_content_bot_button">
                    <button class="btn btn_subcribe"><div class="subcribe_content_bot_button_name">Subcribe</div></button>
             </div>
         </div> 
    </div>

 </section> 