<section class="testimonials">

    <figure class="testimonials_layer">
       <img src="assets/icons/layer_1.svg" alt="layer_1" class="testimonials_layer_image">
    </figure> 
    <div class="testimonials_main"> 

       <figure class="testimonials_main_left">
           <img src="assets/icons/group9237.svg" alt="arrow_left">
       </figure>
       <div class="testimonials_main_content">
           <div class="testimonials_main_content_header">
               <h5 class="testimonials_main_content_header_title">
                   Testimonials 
               </h5>
               <h3 class="testimonials_main_content_header_name">
                   Trust our clients
               </h3>
           </div> 

           <figure class="testimonials_main_content_image">
               <img src="assets/icons/ellipse 22.svg" alt="avatar">
           </figure>      

           <div class="testimonials_main_content_star">
               <div class="testimonials_main_content_star_name">
                  <span clas="testimonials_main_content_star_name_hightlight">Mark Smith </span>/ Travel Enthusiast
               </div>  
               <div class="testimonials_main_content_star_rating">
                   <img src="assets/icons/star2.svg" alt="star2">
                   <img src="assets/icons/star2.svg" alt="star2">
                   <img src="assets/icons/star2.svg" alt="star2">
                   <img src="assets/icons/star2.svg" alt="star2">
                   <img src="assets/icons/star2.svg" alt="star2">

               </div> 
               <div class="testimonials_main_content_decr">
                   Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                   in a piece of classical Latin literature from 45 BC.
               </div>
           </div>
           
           <div class="testimonials_main_content_footer">
               <img src="assets/icons/ellipse20.svg" alt="step">
               <img src="assets/icons/ellipse21.svg" alt="step">
               <img src="assets/icons/ellipse20.svg" alt="step">
           </div>

       </div>

       <div class="btn_left">
           <img src="assets/icons/rectangle5.svg" alt="rectangle5">
           <img src="assets/icons/arrow-left2.svg" alt="" class="arrow">
       </div> 
    </div>
</section> 