<section class="travelpoint">
    <img src="assets/images/desktop/group9238.png" alt="travelpoint_image" class="travelpoint_image">

    <div class="travelpoint_content">
        <div class="travelpoint_content_header">
            <div class="travelpoint_content_header_text">
                <h5>
                    Travel Point
                </h5>
                <h3 >
                    We helping you find your dream location
                </h3> 
            </div>
            <div class="travelpoint_content_header_decr">
                <h6>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC.
                </h6>
            </div>
        </div>  
 
        <div class="travelpoint_card">
            <div class="travelpoint_card_element">
                <div class="travelpoint_element">
                    <h4>500+</h4>
                    <h6>Holiday Package</h6>
                </div>
                <div class="travelpoint_element">
                    <h4>100</h4>
                    <h6>Luxury Hotel</h6>
                </div>
            </div>
            <div class="travelpoint_card_element">
                <div class="travelpoint_element">
                    <h4>7</h4>
                    <h6>Premium Airlines</h6>
                </div>
                <div class="travelpoint_element">
                    <h4>2k+</h4>
                    <h6>Happy Customer</h6>
                </div>
            </div>
        </div>
    </div>  

</section> 