<main> 
    
    <div class="container"> 

        <include src="components/icon.html"></include>
           
        <include src="components/explore_section.html"></include>
      
        <include src="components/collabration_section.html"></include>
    
        <include src="components/services_section.html"></include>
    
        <include src="components/destination_section.html"></include>
    
        <include src="components/travelpoint_section.html"></include>
    
        <include src="components/feature_section.html"></include>
    
        <include src="components/testimonials_section.html"></include>
    
        <include src="components/subcribe_section.html"></include>
        
    </div>
  
</main>

