<main> 
    
    <div class="container"> 

        <include src="components/icon.html"></include>
           
        <include src="components/exploreSection.html"></include>
      
        <include src="components/collabrationSection.html"></include>
    
        <include src="components/servicesSection.html"></include>
    
        <include src="components/destinationSection.html"></include>
    
        <include src="components/travelpointSection.html"></include>
    
        <include src="components/featureSection.html"></include>
    
        <include src="components/testimonialsSection.html"></include>
    
        <include src="components/subcribeSection.html"></include>
        
    </div>
  
</main>

