<main> 
    <include src="components/icon.html"></include>
    
    <include src="components/exploresection.html"></include>
  
    <include src="components/collabrationsection.html"></include>

    <include src="components/servicessection.html"></include>

    <include src="components/destinationsection.html"></include>

    <include src="components/travelpointsection.html"></include>

    <include src="components/featuresection.html"></include>

    <include src="components/testimonialssection.html"></include>

    <include src="components/subcribesection.html"></include>
  
</main>

